<!-- app/views/users/edit.html.erb -->
<%= form_with(model: @user, local: true) do |form| %>
  <!-- Other form fields... -->
  <div class="field">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_for_select(@roles.map { |role| [role.name, role.id] }, @user.role_id) %>
  </div>
  <!-- Other form fields... -->
<% end %>
