<h1>New user</h1>

<%= render "form", user: @user %>

<%= form_with(model: @user, local: true) do |form| %>

  <!-- Other form fields... -->


  <!-- Other form fields... -->

<% end %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
